* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main body */

body {
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

/* Images */

img {
    border-radius: 10px;
    margin-bottom: 16px;
    width: 100%;
    max-width: 600px;
}

/* Headings */

h1 {
    margin: 16px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin: 16px;
}

ul, ol {
    padding: 0 16px; 
    margin: 0 16px;
}

/* Buttons and Links */

a {
    text-decoration: none;
}

button {
    display: block;
    background-color: #fdf7f2;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto 10px auto;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.home {
    width: 200px;
}

button:hover {
    background-color: #d3d3d3;
}

/* Recipies */

div {
    background-color: #fdf7f2;
    width: 700px;
    padding: 20px;
    margin: auto;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
}

.description {
    text-align: center;
}

.items {
    padding: 10px;
}